
<%= hidden_field_tag 'user_idd', current_user.id %>
<%= hidden_field_tag 'c_channel_id', @channel.id %>
<%= hidden_field_tag 'muted', @channels.where(muted: true).pluck(:id).join(",") %>


<%= audio_tag("notification.mp3")%>

<div class="chat-wrapper container-p-x container-p-y">

<div class="card flex-grow-1 position-relative">

  <div class="row no-gutters h-100">
    <div class="chat-sidebox" style="border-right: 1px solid #77757744">

      <div class="flex-grow-0 px-4" style="width:215px">
        <div class="media align-items-center">
          <div class="media-body">
            <strong class="form-control chat-search my-3">Your Rooms</strong>
          </div>
          <a href="javascript:void(0)" class="chat-sidebox-toggler d-lg-none d-block text-muted text-large font-weight-light pl-3">&times;</a>
        </div>
        <hr class="border-light m-0">
      </div>

      <div class="flex-grow-1 position-relative">
        <div class="chat-contacts list-group chat-scroll py-3">

        <% if @channels.present? %>
          <% @channels.each do |channel| %>
            <div class="list-group-item list-group-item-action online channel-<%=channel.id %>" style="display: flex;align-items: center;justify-content: space-between;">
              <%= link_to channel.name, channel_messages_path(channel), class: " #{params[:channel_id].to_i == channel.id} ? 'active text-white' : ''" %>
              <span style="background: red;width: 10px;height: 10px;border-radius: 50%;" class="<%= params[:channel_id].to_i == channel.id ? 'text-white' : '' %> <%= @notification_channel_ids.include?(channel.id) ? '' : 'hidden' %> my-badge bg-danger float-right"></span>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>

  </div>

    <div class="d-flex col flex-column">

      <div class="flex-grow-0 py-3 pr-4 pl-lg-4">

        <div class="media align-items-center">
          <a href="javascript:void(0)" class="chat-sidebox-toggler d-lg-none d-block text-muted text-large px-4 mr-2"><i class="ion ion-md-more"></i></a>
          <div class="media-body pl-3">
            <strong><%= @channel.name %> Room</strong>
          </div>
        </div>

      </div>
      <hr class="flex-grow-0 border-light m-0">

      <div class="flex-grow-1 position-relative chat_messages_parent" style="overflow: auto;height: 63vh;">

        <div class="chat_messages chat-scroll p-4">

          <% @messages.each do |message| %>
            <%= render partial: 'message', locals: { message: message } %>
          <% end %>

        </div>
      </div>

      <hr class="border-light m-0">
      <div class="flex-grow-0 py-3 px-4">
        <%= form_for [@channel ,@message], :html => { :style => "width:inherit;display:flex", :role => "form", remote: true, id: 'message_form'}  do |f| %>
          <div class="input-group">
            <%= f.text_field :message, {class: 'form-control', style: 'width:90%;display:inline-block'} %>
            <% #  "", type: 'button', onclick: 'trigger_file()' %>
            <div class="input-group-append">
              <button class="btn btn-parimary">
                <%= image_tag 'image.png', style: 'width:30px;height:30px;background: white;padding: 3px;border-radius: 5px;', onclick: 'return trigger_file()' %>
              </button>
            </div>
            <%= f.file_field :avatar,id: "file-btn", class: 'hidden' %>
            <%= f.submit "send", class: 'hidden', id: "send_message" %>
          </div>
        <% end %>
      </div>

    </div>


  </div>
</div>

</div>

<style type="text/css">  
  .hidden {
    display:none;
  }
</style>  


<script>

  var scrollToElement = function(el, ms){
      var speed = (ms) ? ms : 600;
      $('html,body').animate({
          scrollTop: $(el).offset().top
      }, speed);
  }
  function trigger_file(e){
      $("#file-btn").click();
      return false;
  }
  function scroll_bottom() {
      if($(".chat_messages_parent").length > 0 ){
          $(".chat_messages_parent").animate({ scrollTop: $('.chat_messages_parent').prop("scrollHeight") }, 1000)
      }
  }
  $(function () {

      $('input[type="text"]').emoji({
        'z-index': '999999'
      });
      $($('.input-group-append').prev()).css('z-index','5555555');
      $("#file-btn").change(function(){
          $("#send_message").click();
          $("#file-btn").val("");
      });
      scroll_bottom();
      $("#message_form").bind("ajax:complete", function(event,xhr,status){
          $('#message_message').val('');
      });
  })

</script>
