<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @message.channel_id %>
</p>

<p>
  <strong>Msg type:</strong>
  <%= @message.msg_type %>
</p>

<p>
  <strong>Url:</strong>
  <%= @message.url %>
</p>

<p>
  <strong>Avatar file name:</strong>
  <%= @message.avatar_file_name %>
</p>

<p>
  <strong>Avatar content type:</strong>
  <%= @message.avatar_content_type %>
</p>

<p>
  <strong>Avatar file size:</strong>
  <%= @message.avatar_file_size %>
</p>

<p>
  <strong>Avatar updated at:</strong>
  <%= @message.avatar_updated_at %>
</p>

<%= link_to 'Bearbeiten', edit_message_path(@message) %> |
<%= link_to 'Zurück', messages_path %>
