<% content_for :styles do %>
  <!-- Page -->
  <%= stylesheet_pack_tag 'vendor/pages/messages', media: 'all' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->
<%if current_user.superadmin%>
  <div class="row mb-2">
    <div class="col-lg-6">
      <input type="text" id="config-demo" class="form-control" name="channel[chat_date]">
    </div>
    <div class="col-lg-6">
      <%= link_to "Download Chat", download_mail_chat_path(format: 'csv') ,class: 'btn btn-danger chat_download_btn'%>
    </div>
  </div>
<%end%>
<div class="row">

  <!-- Messages sidebox -->
  <div class="messages-sidebox col mb-4 px-4">

    <!-- Labels -->
    <h6 class="text-sm font-weight-bold">Benutzer</h6>
    <% @users.each do |user| %>
      <li class="d-block text-muted py-1">
        <%= link_to user.username, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post, class: '' %>
      </li>
    <% end %>
  </div>
  <!-- / Messages sidebox -->

  <div class="col">

    <!-- Messages list -->
    <div class="card">

      <!-- Header -->
      <h4 class="card-header media flex-wrap align-items-center py-4">
        <div class="media-body"><i class="ion ion-ios-filing"></i> &nbsp; Nachrichtensystem</div>
      </h4>
      <!-- / Header -->

      <ul class="list-group messages-list">
        <% @conversations.each do |conversation| %>
        <li class="list-group-item px-4">
          <div class="message-sender text-body d-block col-4">
            <%= conversation.recipient(current_user).username %>
          </div>
          <div>
            <%= link_to 'Nachricht öffnen', conversation_nachrichtens_path(conversation), class: 'message-subject text-body d-block' %>
          </div>
        </li>
        <% end %>
      </ul>

    </div>
    <!-- / Messages list -->

  </div>
</div>


<script>
    $(function () {

      $('#config-demo').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        locale: {
          format: 'YYYY-MM-DD H:mm:ss'
        }
      });

      $('#config-demo').on('change', function(){
        var [start_date,end_date] = $('#config-demo').val().split(" - ");
        start = $(".chat_download_btn").attr("href").split("?")[0]
        $(".chat_download_btn").attr("href",start+"?start_date="+start_date+"&end_date="+end_date);
      })

      if($('#config-demo').val() != undefined ){
        var [start_date,end_date] = $('#config-demo').val().split(" - ");
        $(".chat_download_btn").attr("href",$(".chat_download_btn").attr("href")+"?start_date="+start_date+"&end_date="+end_date);
      }
    })
</script>

<style>
  .drp-calendar {
    color: black !important;
  }
</style>