<%= form_with(model: admin_notification, remote: true, html: {id: "notfication_form"}) do |form| %>
  <% if admin_notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_notification.errors.count, "error") %> prohibited this admin_notification from being saved:</h2>

      <ul>
        <% admin_notification.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control body' %>
  </div>

  <div class="actions">
    <%= form.submit "Create", class: 'btn btn-success' %>
  </div>
<% end %>

<style>
  .body {
    background: #fff;
    color: #000;
  }
</style>

<script>
  $(function() {
    $("#notfication_form").bind("ajax:complete", function(event,xhr,status){
          window.location.href = "/anotifications"
      });
  })
</script>