<% if current_user.present? %>
  <input type="hidden" id="nav-user" value="<%= current_user.id %>" >
  <input type="hidden" id="conversation_index" value="<%= @action %>" >
<%end%>
<%= audio_tag('notification.mp3')%>
<%= audio_tag('admin_notification.mp3')%>
<!-- Layout navbar -->
<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-navbar-theme container-p-x" id="layout-navbar">

  <!-- Brand -->
  <%= link_to "CHAOTENTEAM", root_path, class: "navbar-brand" %>

  <% if local_assigns[:hide_toggle] != true %>
    <!-- Sidenav toggle -->
    <div class="layout-sidenav-toggle navbar-nav align-items-lg-center mr-auto mr-lg-4">
      <a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)">
        <i class="ion ion-md-menu text-large align-middle"></i>
      </a>
    </div>
  <% end %>

  <!-- Navbar toggle -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="layout-navbar-collapse">
    <!-- Divider -->
    <hr class="d-lg-none w-100 my-2">

    <div class="navbar-nav align-items-lg-center ml-auto">

      <% if  user_signed_in? %>
        <div class="demo-navbar-notifications nav-item dropdown mr-lg-3">
          <%= link_to anotifications_path, class: 'nav-link dropdown-toggle hide-arrow' do %>
            <i class="ion ion-md-notifications-outline navbar-icon align-middle"></i>
            <span class="badge badge-primary badge-dot indicator <%= @show_badge == true ? '' : ' hidden' %>"></span>
            <span class="d-lg-none align-middle">&nbsp; Notifications</span>
          <%end%>
        </div>
      <%end%>

      <div class="demo-navbar-messages nav-item mr-lg-3">
        <%= link_to conversations_index_path, class: 'nav-link hide-arrow' do %>
          <i class="ion ion-ios-mail navbar-icon align-middle"></i>
          <span class="badge badge-primary badge-dot indicator mail-badge <%= @has_unread_mail > 0 ? '' : ' hidden' %>"></span>
        <% end %>
      </div>

      <!-- Divider -->
      <% if user_signed_in? %>
      <div class="nav-item d-none d-lg-block text-big font-weight-light line-height-1 opacity-25 mr-3 ml-1">|</div>

      <div class="demo-navbar-user nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
              <%= image_tag user_avatar(current_user, 80), class: "d-block ui-w-30 rounded-circle" %>
            <span class="px-1 mr-lg-2 ml-2 ml-lg-0"> <%= current_user.username %></span>

          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Einstellungen", edit_user_registration_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
            <i class="ion ion-ios-log-out text-danger"></i> &nbsp; Ausloggen
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</nav>
<!-- / Layout navbar -->

<style>
  .hidden {
    display: none !important;
  }
</style>

<script>
  $(function(){
    action = $("#conversation_index").val();
    if(action == "converstation_index"){
      $(".mail-badge").addClass('hidden');
    }
  })
</script>