<!-- Layout sidenav -->
<div id="layout-sidenav" class="
  <% if local_assigns[:horizontal] == true %>layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0
  <% else %>layout-sidenav sidenav-vertical
  <% end %> sidenav bg-sidenav-theme">

  <!-- Inner -->
  <ul class="sidenav-inner
    <% if local_assigns[:horizontal] != true %> py-1
    <% end %>">

    <li class="sidenav-item<%= current_page?(root_path) ? ' active' : '' %>">
      <%= link_to root_path, class: "sidenav-link" do %>
        <i class="sidenav-icon ion ion-ios-contact"></i>
        <div>Startseite</div>
      <% end %>
    </li>

    <li class="sidenav-item">
      <%= link_to channel_messages_path(1), class: "sidenav-link" do %>
        <i class="sidenav-icon ion ion-ios-chatboxes"></i>
        <div>Chat</div>
      <% end %>
    </li>

    <% if false %>
    <!-- Chaträume -->
    <li class="sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-ios-chatboxes"></i>
        <div>Chaträume</div>
      </a>

      <ul class="sidenav-menu">
        <% if @channels.present? %>
          <% @channels.each do |channel| %>
            <li>
              <%= link_to channel.name, channel_messages_path(channel), class: "sidenav-link" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
    <% end %>

    <% if current_user.is_admin %>
    <!-- Adminarea -->
    <li class=" sidenav-item">
      <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-ios-options"></i>
        <div>Verwaltung</div>
      </a>

      <ul class="sidenav-menu">
        <li class="sidenav-item<%= current_page?(channels_path) ? ' active' : '' %>">
          <%= link_to channels_path, class: "sidenav-link" do %>
            <div>Chaträume</div>
          <% end %>
        </li>

        <li class="sidenav-item<%= current_page?(users_path) ? ' active' : '' %>">
          <%= link_to users_path, class: "sidenav-link" do %>
            <div>User</div>
          <% end %>
        </li>

        <li class="sidenav-item">
          <%= link_to anotifications_path, class: "sidenav-link" do %>
            <i class="ion ion-md-notifications-outline sidenav-icon"></i>
            <div>Benachrichtigungen</div>
          <% end %>
        </li>

        <% if current_user.superadmin %>
        <li class="sidenav-item<%= current_page?(accounts_path) ? ' active' : '' %>">
          <%= link_to accounts_path, class: "sidenav-link" do %>
            <div>Superadmin</div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </li>

    <% if current_user.superadmin %>
    <li class=" sidenav-item">
        <a href="#" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-ios-options"></i>
          <div>Archiv</div>
        </a>

        <ul class="sidenav-menu">
          <li class="sidenav-item<%= current_page?(channels_path) ? ' active' : '' %>">
            <%= link_to channels_path, class: "sidenav-link" do %>
              <div>Chatarchiv</div>
            <% end %>
          </li>

          <li class="sidenav-item<%= current_page?(users_path) ? ' active' : '' %>">
            <%= link_to users_path, class: "sidenav-link" do %>
              <div>Privatnachrichten</div>
            <% end %>
          </li>
        </ul>
      </li>
    <% end %>
    <% end %>

  </ul>
</div>
<!-- / Layout sidenav -->